nav-bar {
  /*nav bar styling*/
    border-top: 1px solid black;    
                                       
    border-bottom: 1px solid black;
} 
ul{
/* styling used for nav bar pages to align center give a border,a margin, padding and a width of 400px and a background color*/
    list-style-type: none;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 100px;
    padding: 2px;
    width: 400px;
    background-color: rgb(0, 195, 255);


}
    li a{

        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 300px;

        
    }
    body{
      background-color: lightgoldenrodyellow;
    }/* used to give the pages a background colour of light golden yellow*/
  
  }
  /* styling used to add font-size, color and implement the font family for each heading for blog,portfolio,contact and landing page*/
  .blog{
      color: rgb(0, 110, 255);
      font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
    
  } 
   
  .portfolio{
        color: rgb(0, 110, 255);
      font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    }

 .contact{
    color: rgb(0, 110, 255);
    font-size: 80px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  
   
  }
 }
 .welcome{
  color: rgb(0, 110, 255);
  font-size: 80px;
font-family: 'Noto Sans', sans-serif;
text-align:center;

 }
 .teapot{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
 }/*used to style the image on the landing page to center it give it a width of 60% and give it a block display and a left and right margin as auto*/
 .me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}/* same styling used as above with the teapot*/
 

 .p{
   color:black;
   font-size: 20px;
   font-family: 'Noto Sans', sans-serif; ;
   font-weight: bolder;
   /*used to style paragraph to 20px and implement the font-family and make the text bolder*/
 }
 .form{
   border: 3px solid black;
   /*used to provide a border of 3px in black around the contact form*/

 }
 /* Below is the styling for the cards in the section in the blog page the display used is flex with content having space between and adding flex wrap makes flex box wrap the items underneath each other this stops the cards trying to fit all in one line */
 
 .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  Font-family:'Noto Sans', sans-serif;
 }
  

   .card{
     flex: 0 1 calc(25% -1em);
     /*  this is to make each card not flex grow then flex-shrink and percentage is the width and minus 1 em to shrink the card slightly*/
   }


  


}

}
.portfolio-para{
  font-family:'Noto Sans', sans-serif;
  font-size: 25px ;
  text-align: center;

}
.More-AboutMe{
Font-family:'Noto Sans', sans-serif;
font-size: 25px ;
text-align: center;


}
.connection{
  color: rgb(0, 110, 255);
  Font-family:'Noto Sans', sans-serif;
  font-size: 32px ;
  text-align: center;
}


.cards {
  display :flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(25% - 1em);
}
.teapot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%%;
  .cards {
    flex: 0 1 cal(25% - 1em);
 }

      
  
}
@media screen and (min-width:500px) {
  /*comes into effecft when screen is 500px*/
  .cards {
    display :flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

  .card {
    flex: 0 1 calc(25% - 1em);
  }
  .teapot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%%;
  
  .h1 {
    font-size:28px;
    text-align:center;

  }
  .h4{
    font-size:24px;
    text-align:center;

  }
.p{
  font-size:12px;
  text-align:center;

}


}

  @media screen and (min-width:700px) {
    /*comes into effecft when screen is 700px*/
  
    .h1 {
      font-size:32px;
  
    }
    .h4{
      font-size:24px;
  
    }
  .p{
    font-size:16px;
  
  }
  
  