nav-bar {
  /*nav bar styling*/
    border-top: 1px solid black;    
                                       
    border-bottom: 1px solid black;
} 
ul{
/* styling used for nav bar pages to align center give a border,a margin, padding and a width of 400px and a background color*/
    list-style-type: none;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 100px;
    padding: 2px;
    width: 400px;
    background-color: rgb(0, 195, 255);


}
    li a{

        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 300px;

        
    }
    body{
      background-color: lightgoldenrodyellow;
    }/* used to give the pages a background colour of light golden yellow*/
  
  }
  /* styling used to add font-size, color and implement the font family for each heading for blog,portfolio,contact and landing page*/
  .blog{
      color: rgb(0, 110, 255);
      font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
    
  } 
   
  .portfolio{
        color: rgb(0, 110, 255);
      font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    }

 .contact{
    color: rgb(0, 110, 255);
    font-size: 80px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  
   
  }
 }
 .welcome{
  color: rgb(0, 110, 255);
  font-size: 80px;
font-family: 'Noto Sans', sans-serif;
text-align:center;

 }
 .teapot{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
 }/*used to style the image on the landing page to center it give it a width of 60% and give it a block display and a left and right margin as auto*/
 .me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}/* same styling used as above with the teapot*/
 

 .p{
   color:black;
   font-size: 20px;
   font-family: 'Noto Sans', sans-serif; ;
   font-weight: bolder;
   /*used to style paragraph to 20px and implement the font-family and make the text bolder*/
 }
 .form{
   border: 3px solid black;
   /*used to provide a border of 3px in black around the contact form*/

 }
 /* Below is the styling for the cards on the blog page giving the max width and height, a border.  Adding padding and margin as well as the display, where the card is to start with the align item with flex-start.  A background color of light cyan, the text align to the center and of course the font- family used.  each card has its own width and height due to content*/
 
 .card1{
  max-width:600px;
  max-height:350px;
  border: 6px solid black;
  padding: 0 20px 20px;
  margin: 60px;
   display:flex;
   flex-wrap: wrap;
   align-items: flex-start;
   background-color:lightcyan;
   text-align: center;
   font-family:'Noto Sans', sans-serif; 
   
   
 }
 .card2{
  max-width:600px;
  max-height:460px;
  border: 6px solid black;
  padding: 0 20px 20px;
  margin: 60px;
   display:flex;
   flex-wrap: wrap;
   align-items: flex-start;
   background-color:lightcyan;
   text-align: center;
   font-family:'Noto Sans', sans-serif;


  


}
.card3{
 max-width:600px;
 max-height: 350px;
 border: 6px solid black;
 padding: 0 20px 20px;
 margin: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color:lightcyan;
  text-align: center;
  font-family:'Noto Sans', sans-serif; 
  
  
}

.card4{
 max-width:600px;
 max-height:355px;
 border: 6px solid black;
 padding: 0 20px 20px;
 margin: 60px;
  display: flex;
  flex-wrap: wrap;
   align-items: center;
  background-color:lightcyan;
  text-align: center;
  align-content: flex-start;
  font-family:'Noto Sans', sans-serif; 
  
  
}

.card5{
 max-width:600px;
 max-height:625px;
 border: 6px solid black;
 padding: 0 20px 20px;
 margin: 60px;
 flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
   align-items: flex-start;
  background-color:lightcyan;
  text-align: center;
  font-family:'Noto Sans', sans-serif; 
  
  
}
.portfolio-para{
  font-family:'Noto Sans', sans-serif;
  font-size: 25px ;
  text-align: center;
}
@media screen and (min-width:600px) {
  /*comes into effecft when screen is 600px*/
  
  
  .h1 {
    font-size:32px;

  }
  .h4{
    font-size:24px;

  }
.p{
  font-size:16px;

}
.card1{
  max-width:500px;
  max-height:350px;


}
.card2{
  max-width:500px;
  max-height:475px;
}

.card3{
  max-width:500px;
  max-height:350px;
}
  .card4{
    max-width:500px;
    max-height:350px;
  }
  @media screen and (min-width:700px) {
    /*comes into effecft when screen is 700px*/
  
    .h1 {
      font-size:32px;
  
    }
    .h4{
      font-size:24px;
  
    }
  .p{
    font-size:16px;
  
  }
  .card1{
    max-width:500px;
    max-height:350px;
  
  
  }
  .card2{
    max-width:500px;
    max-height:475px;
  }
  
  .card3{
    max-width:500px;
    max-height:350px;
  }
    .card4{
      max-width:500px;
      max-height:350px;

 {